<launch>
  <!-- excavator_driving_tools launch file -->
  <rosparam command="load" file="$(find waypoint_gen)/waypointsSimpleExcavator.yaml" />

  <group ns="excavator_1">

    <param name="/use_sim_time" value="true"/>

    <node pkg="waypoint_gen"
          name="waypoint_gen"
          type="waypoint_gen"
          output="screen">
    </node>

  </group>

</launch>
